 <!-- FORM -->
  <mat-card class="card">
    <mat-card-title>🔄 Transferência</mat-card-title>

    <div class="form">

      <mat-form-field appearance="outline">
        <mat-label>Origem</mat-label>
        <mat-select>
          <mat-option>Conta de origem</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Destino</mat-label>
        <input matInput placeholder="Conta de destino">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Valor</mat-label>
        <input matInput placeholder="R$ 0,00">
      </mat-form-field>

      <button mat-raised-button color="primary">
        Transferir
      </button>

    </div>
  </mat-card>
